<div class="row">
  <div class="col-md-6">
    <h1><%= @product.name %></h1>
    <h2><%= @product.cost %>$</h2>
    <h3>Country: <%= @product.country_of_origin %></h3>
  </div>
  <div class="col-md-5">
    <h3><%= image_tag @product.image %></h3>
  </div>
</div>
<hr>
<% if @product.reviews.any? %>
<h4>Here are the reviews for this product:</h4>
<% @product.reviews.each do |review| %>
<div class="reviews_wrapper clearfix">
  <div class="pull-left">
    <p class="lead"><%= review.content_body %></p>
    <p><small>Submitted <strong><%= time_ago_in_words(review.created_at) %> ago</strong> by <%= review.author %></small></p>
    Rated: <%= review.rating %>
  </div>
  <%= link_to "Edit", edit_product_review_path(@product, review) %> |
      <%= link_to "Delete", product_review_path(@product, review),
                               :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
</div>

<hr>

  <% end %>

<% else %>
<p>This product has 0 reviews, <%= link_to "Add one now!", new_product_review_path(@product) %></p>
<% end %>

<%= link_to "Review now!", new_product_review_path(@product) %></p>
<p><%= link_to "Return to products", products_path %></p>
<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
